.footer {
  background-color: #343a40;
  grid-column: full-start / full-end;
  padding: 8rem;
}

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  grid-gap: 2rem;
  align-items: center;

  &__link:link,
  &__link:visited {
    font-size: 0.8rem;
    color: #f8f9fa;
    text-decoration: none;
    font-family: Mochiy Pop One, sans-serif;;
    text-transform: uppercase;
    text-align: center;
    padding: 0.9rem;
    display: block;
    transition: all .2s;

    &__link:hover,
    &__link:active {
      background-color: rgba(white, .05);
      transform: translateY(-3px);
    }
  }
}

.copyright {
  font-size: 0.8rem;
  margin-top: 6rem;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
}
